.grid {
    display: grid;
    margin: auto;
    width: 30vw;
    height: 30vw;
    margin-top: 10%;
    border-radius: 10px;


    grid-template-areas: "item1 item2 item3"
                         "item4 item5 item6"
                         "item7 item8 item9";   

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

}

.item {
    width: max(7vw,7vh);
    height: max(7vw,7vh);
    margin: auto;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    text-justify: auto;
    font-size: 40px;
    color: white;


    

    background: #73C8A9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.item1 {
    grid-area: item1;
   
}
.item2 {
    grid-area: item2;
  
}
.item3 {
    grid-area: item3;
   
}
.item4 {
    grid-area: item4;
   
}
.item5 {
    grid-area: item5;
   
}
.item6 {
    grid-area: item6;
   
}
.item7 {
    grid-area: item7;
   
}.item8 {
    grid-area: item8;
   
}
.item9 {
    grid-area: item9;
   
}